{% extends 'base.html' %} {% block content %}
<div class="row">
  {% if notes %} {% for note in notes %}
  <div class="col-3 mb-4">
    <div class="card" style="height: 450px">
      <div class="card-body">
        <h5 class="card-title">{{note.title}}</h5>
        <p class="card-body">Dear {{note.to}},</p>
        <p class="card-body" style="text-align: justify">{{note.message}}</p>
        <!-- cara buat "thank you, ..." ada di paling bawah? -->
        <p class="card-body">Thank you,<br />{{note.fromm}}</p>
      </div>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>
{% endblock %}
