{% extends 'base.html' %} {% block content %}
<table class="table table-hover align-middle">
  <tr>
    <th style="width: 13em">To</th>
    <th style="width: 13em">From</th>
    <th style="width: 13em">Title</th>
    <th style="width: 18em">Message</th>
  </tr>
  {% if notes %} {% for note in notes %}
  <tr>
    <td style="width: 13em">{{note.to}}</td>
    <td style="width: 13em">{{note.fromm}}</td>
    <td style="width: 13em">{{note.title}}</td>
    <td style="width: 18em; text-align: justify" class="text-break">
      {{note.message}}
    </td>
  </tr>
  {% endfor %} {% endif %}
</table>
{% endblock %}
