<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table,
      th,
      td {
        border: 3px solid white;
        border-collapse: collapse;
        border-radius: 20px;
      }
      th,
      td {
        background-color: #96d4d4;
      }
      td:hover,
      th:hover {
        background-color: #c6e4e4;
      }
    </style>
  </head>
  <body>
    <table style="width: 100%; border-collapse: collapse; text-align: center">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% if notes %} {% for note in notes %}
      <tr>
        <td>{{note.to}}</td>
        <td>{{note.fromm}}</td>
        <td>{{note.title}}</td>
        <td>{{note.message}}</td>
      </tr>
      <br />
      {% endfor %} {% endif %}
    </table>
  </body>
</html>
